* {
	padding: 0px;
	margin: 0px;
}

body {
	background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 980px) {
	body {
		background-image: url(../img/fundocell.png);
	}
}